<div class="container-fluid">
    <div class="row" id="student-bar"></div>
    <div class="row">
        <div class="col-lg-12" id="main-container-details">
            <div class="col-lg-12" id="profile">
                <div class="panel panel-default container-fluid">
                    <div class="panel-heading row">
                        <button class="btn btn-default btn-xs pull-right" id="quick-edit">Edit</button>
                        <h3 id="student-name"></h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4 panel panel-default">
                            <img class="profile-img" src="http://placehold.it/250x250" alt="student-img" id="student-img">
                        </div>
                        <div class="col-lg-8" id="student-phone"></div>
                        <div class="col-lg-8" id="student-email"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 panel panel-default">
                <h2 class="list-group-item-heading">Courses</h2>
                <ul class="list-group" id="this-student-courses">
                </ul>
            </div>
        </div>
    </div>
</div>