<div class="container-fluid">
    <div class="row" id="student-bar"></div>
    <div class="row">
        <div class="col-lg-12" id="main-container-details">
            <div class="col-lg-12 panel panel-default" id="profile">
                <div class="col-lg-4 panel panel-default" id="profile-img">
                    <img src="http://placehold.it/250x250" alt="placehold">
                </div>
                <div class="col-lg-8" id="student-name">fds</div>
                <div class="col-lg-8" id="student-phone">sdfg</div>
                <div class="col-lg-8" id="student-email">sdfg</div>
            </div>
            <div class="col-lg-6 panel panel-default" id="student-courses">
                <ul class="list-group">
                    <li class="list-group-item">Course A</li>
                </ul>
            </div>
        </div>
    </div>
</div>