{% extends 'base.html.twig' %}
{#{% include 'addNewCourse/addNewCourse.html.twig' %}#}


{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 panel panel-default">
                <div class="col-lg-6 panel panel-default" id="left-box">
                    <div class="col-lg-6" id="courses">
                        <div class="col-lg-12 target-header">
                            <span class="target-title">Courses</span>
                            <i class="fa fa-plus-square-o fa-2x" id="add-course" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-12">
                            <ul class="list-group" id="course-list">
                                <li class="list-group-item">
                                    <div id="course-profile-thumbnail">
                                        <span id="course-name"></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6" id="students">
                        <div class="col-lg-12 target-header">
                            <span class="target-title">Students</span>
                            <i class="fa fa-plus-square-o fa-2x" id="add-student" aria-hidden="true"></i>
                        </div>
                        <div class="col-lg-12">
                            <ul class="list-group" id="student-list">
                                {#---hard codded for now---#}
                                {#<li class="list-group-item">
                                    <div id="student-profile-thumbnail">
                                        <span id="student-name"></span><br>
                                        <span id="student-phone"></span>
                                    </div>
                                </li>#}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 panel panel-default text-center" id="main-box">
                    <div class="col-lg-12" id="count">
                        <div class="well well-sm">Number of Students: X</div>
                        <div class="well well-sm">Number of Courses: Y</div>
                    </div>
                    <div class="col-lg-12" id="select-view">

                        <div class="hidden" id="details-student">
                            {% include 'details/student/studentDetails.html.twig' %}
                        </div>

                        <div class="hidden" id="add-new-course">
                            {% include 'addNewCourse/addNewCourse.html.twig' %}
                        </div>

                        <div class="hidden" id="add-new-student">
                            {% include 'addNewStudent/addNewStudent.html.twig' %}
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/school.css') }}">
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('assets/js/school.js') }}"></script>
{% endblock %}
