<div class="container-fluid">
    <div class="row" id="admin-bar"></div>
    <div class="row">
        <div class="col-lg-12" id="main-container-details">
            <div class="col-lg-12" id="profile">
                <div class="panel panel-default container-fluid">
                    <div class="panel-heading row">
                        <button class="btn btn-default btn-xs pull-right"
                                id="quick-edit"
                                onclick="editThisAdmin()">Edit</button>
                        <h3 id="admin-name"></h3>
                        <span hidden></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6" id="admin-id"></div>
                        <div class="col-lg-8" id="admin-phone"></div>
                        <div class="col-lg-8" id="admin-email"></div>
                        <select class="col-lg-8" id="admin-role">
                            <option id="role-owner" value="">Owner</option>
                            <option id="role-manager" value="">Manager</option>
                            <option id="role-sales" value="">Sales</option>
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 panel panel-default">
                <h2 class="list-group-item-heading">Students</h2>
                <ul class="list-group" id="this-course-students">
                </ul>
            </div>
        </div>
    </div>
</div>