<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12" id="buttons">
                <div class="col-lg-6 btn-left">
                    <button class="btn btn-success" id="save-btn" type="submit">
                        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-lg-6 btn-right">
                    <button class="btn btn-success" id="edit-btn" type="submit">
                        <i class="fa fa-pencil fa-2x" aria-hidden="true"></i>
                    </button>
                    <button class="btn" id="close-btn" type="submit">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <form class="form-signin" id="course-info-inputs">
                <h2 class="form-signin-heading text-center">Add Course</h2>
                <div>
                    <img id="add-course-img" src="http://placehold.it/250x250" alt="placeholdit">
                </div>
                <br>
                <span id="db-course-id" hidden></span>
                <input type="text" id="new-course-name" class="form-control" placeholder="Course Name" required autofocus>
                <input type="text" id="new-course-desc" class="form-control" placeholder="Description" required>
                <input type="file" name="course_img" class="btn" id="upload-img-course">
                <button class="btn btn-success" onclick="processCourseData(event)">Save the Course</button>
                <br>
                <br>
                <div class="row">
                    <div id="course-students" class="input-group col-lg-4 col-lg-offset-1">
                        <ul class="list-group" id="list-of-students-to-add">
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>