

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="row" id="buttons">
                <div class="col-lg-6 btn-left">
                    <button class="btn btn-success" id="save-btn" type="submit" onclick="processStudentData()">
                        <i class="fa fa-floppy-o fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="col-lg-6 group-btn pull-right">
                    <button class="btn btn-danger" id="delete-btn" type="submit">
                        <i class="fa fa-trash-o fa-2x" aria-hidden="true"></i>
                    </button>
                    <button class="btn" id="close-btn" type="submit">
                        <i class="fa fa-times fa-2x" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
            <form class="form-signin" id="form-add-student">
                <div class="row">
                    <h2 class="form-signin-heading text-center">Add Student</h2>
                    <div class="col-lg-6">
                        <img src="http://placehold.it/200x200" alt="placeholdit">
                    </div>
                    <br>
                    <div class="input-group col-lg-6">
                    <input type="text" id="new-student-name" class="form-control" value="" placeholder="Name" required autofocus>
                    <input type="text" id="new-student-phone" class="form-control" value="" placeholder="Phone" required>
                    <input type="email" id="new-student-email" class="form-control" value="" placeholder="eMail" required>
                    <button class="btn btn-success" onclick="processStudentData(event)">Save the Student</button>
                    </div>
                    <br>
                </div>
                <br>
                <div class="row">
                    <div id="student-courses" class="input-group col-lg-4 col-lg-offset-1">
                        <ul class="list-group" id="list-of-courses-to-add">
                        </ul>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
