<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <div class="col-lg-12" id="buttons">
                <div class="col-lg-6 btn-left" id="save-btn">
                    <button class="btn btn-primary btn-block" type="submit">Save</button>
                </div>
                <div class="col-lg-6 btn-right" id="edit-btn">
                    <button class="btn btn-primary btn-block" type="submit">Delete</button>
                </div>
            </div>
            <form class="form-signin">
                <h2 class="form-signin-heading text-center">Add Student</h2>
                <br>
                <label for="name" class="sr-only">Name</label>
                <input type="text" id="name" class="form-control" placeholder="Name" required autofocus>
                <label for="phone" class="sr-only">Phone</label>
                <input type="text" id="phone" class="form-control" placeholder="Phone" required>
                <label for="email" class="sr-only">Email</label>
                <input type="email" id="email" class="form-control" placeholder="eMail" required>
                <br>
                <div>
                    <img src="http://placehold.it/250x250" alt="placeholdit">
                </div>
                <div id="list-of-courses">
                    <ul></ul>
                </div>
            </form>
        </div>
    </div>
</div>