<div class="container-fluid">
    <div class="row" id="course-bar"></div>
    <div class="row">
        <div class="col-lg-12" id="main-container-details">
            <div class="col-lg-12" id="profile">
                <div class="panel panel-default container-fluid">
                    <div class="panel-heading row">
                        <button class="btn btn-default btn-xs pull-right"
                                id="quick-edit"
                                onclick="editThisCourse()">Edit</button>
                        <h3 id="course-name"></h3>
                        <span hidden></span>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6 panel panel-default">
                            <img class="profile-img" src="http://placehold.it/250x250" alt="course-img" id="course-img">
                        </div>
                        <div class="col-lg-6" id="course-id"></div>
                        <div class="col-lg-6" id="course-description"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-6 panel panel-default">
                <h2 class="list-group-item-heading">Students</h2>
                <ul class="list-group" id="this-course-students">
                </ul>
            </div>
        </div>
    </div>
</div>